#root {
  box-sizing: border-box;
  text-align: center;
}

.App{
  width: 100vw;
  display:flex;
  justify-content:center;
}

.main-content{
  padding-top:110px;
  width: 60vw;
}

/* HEADER */

.header {
  display: flex;
  position: fixed;
  top: 0; /* Fix it at the top of the viewport */
  left: 0; /* Fix it at the left side of the viewport */
  width: 100%; /* Make it full width */
  background-color: #333; /* Background color of the navigation bar */
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Adjust padding as needed */
  color: #fff; /* Text color */
  box-sizing:border-box;
}

.header-logout-link {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 10rem; /* Set the logo image width as needed */
  border-radius: 20px;
  height: auto; /* Maintain aspect ratio */
}

.header-right-section {
  display: flex;
  align-items: center;
  flex-direction:column;
}

.header-right-section:hover{
  .header-dropdown-list{
    display: block;
  }
}

.dropdow-show{
  display: block;
}

.header-dropdown {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
}

.header-dropdown:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

.header-dropdown-list{
  list-style: none;
  text-decoration: none;
  position: absolute;
  padding: 0;
  z-index: 999;
  top: 50px;
  border: 1px white solid;
  border-radius:20px;
  background-color: #333;
  padding: 10px;
  display:none;
}

.header-dropdown-list li{
  padding: 6px 0;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.header-dropdown-list li:hover{
  color: #646cff;
}

.header-dropdown-list a{
  color: white;
}

.header-profile-circle {
  width: 40px; /* Set the circle size as needed */
  height: 40px; /* Should be equal for a perfect circle */
  border: 0;
  border-radius: 50%; /* Make it a circle */
  background-color: #fff; /* Circle background color */
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-profile-image {
  width: 100%; /* Fill the circle with the image */
  height: 100%; /* Maintain aspect ratio */
  border-radius: 50%; /* Ensure it's circular inside the circle */
  object-fit:cover; 
}

.header-logout-h {
  color: #fff; /* Link text color */
  text-decoration: none;
  text-align: center;
  margin:0;
  
}

.header-logout-h:hover {
  color:inherit;
}

.header-dropdown-right{
  display: flex;
  align-items: baseline;
  gap: 6px;
}


/* UPLOAD & LIBRARY */

.upload-div, .library-div{
  width: 100%;
}

@keyframes shake {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  20% {
    transform: translateX(-5px) rotate(-5deg);
  }
  40% {
    transform: translateX(5px) rotate(5deg);
  }
  60% {
    transform: translateX(-5px) rotate(-5deg);
  }
  80% {
    transform: translateX(5px) rotate(5deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}

.upload-image {
  transform-origin: center;
}

.upload-image:hover {
  animation: shake 1s ease infinite; /* Adjust duration and easing as needed */
}

.upload-line-div{
  
}


.not-visible{
  visibility: hidden;
}

.photo-galery{
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

.img-card{
  width: 200px;
  height: 150px;
  padding: 10px;
  margin: 15px 4px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px white solid;
  border-radius: 10px;
  transition: transform 0.3s;
  position:relative;
}

.img-card:hover{
  transform: scale(1.05);
}

.circular-delete-icon {
  position: absolute;
  height: auto;
  font-size: 1em;
  top: -20px;
  right: -20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color:#f2f2f2; 
  border-radius: 50%; /* Makes it circular */
  border: #3C3645 solid 2px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.5s;
}

.img-card:hover .circular-delete-icon {
  display: flex;
}
.circular-delete-icon i{
  color: #3C3645;
}
.circular-delete-icon:hover{
  background-color: #ff7956;
}
.img-card img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
} 

.custom-file-upload{
  box-sizing: border-box;
  cursor: pointer;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes scale-img-card{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.form-basic{
  display:flex;
  flex-direction:column;
  margin: 0 auto;
}
/* REGISTER PAGE */
.form-register-user h1{
  margin:0;
  padding-bottom: 30px;
}

.form-register-user{
  display: flex;
  flex-direction: column;
  margin:0 auto;
  gap:15px;
  width:300px;
}

.form-register-user h2{
  margin: 0;
}

.profile-icon-list{
  list-style-type: none;
  display:flex;
  justify-content:space-around;
  margin: 0;
  padding:0;
}

.profile-list-item{
  width: 60px;
  height: 60px;
  border-radius: 20%;
  transition: all 0.3s ease;
  cursor:pointer;
}
.profile-list-item:hover{
    /* Add a border shine effect */
    box-shadow: 0 0 10px white; 

    /* Move the div up slightly and apply a 3D transform */
    transform: translateY(-5px) rotateX(5deg);
}

.active-list-icon{
    /* Add a border shine effect */
    box-shadow: 0 0 10px gold !important;

    /* Move the div up slightly and apply a 3D transform */
    transform: translateY(-5px) rotateX(5deg);
}


.profile-icon{
  width:100%;
  height: 100%;
  object-fit:cover;
  border-radius: 20%;
}

/* MEDIA SCREEN */
@media (max-width: 767px) {
    .main-content {
        width: 90vw;
        /* Any other mobile-specific styles can go here */
    }
}
