#root {
  box-sizing: border-box;
  text-align: center;
}

.App{
  width: 100vw;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* Dark background color */
  padding: 10px 20px; /* Adjust padding as needed */
  color: #fff; /* Text color */
}

.header-left-section {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 50px; /* Set the logo image width as needed */
  height: auto; /* Maintain aspect ratio */
}

.header-right-section {
  display: flex;
  align-items: center;
}

.header-profile-circle {
  width: 40px; /* Set the circle size as needed */
  height: 40px; /* Should be equal for a perfect circle */
  border-radius: 50%; /* Make it a circle */
  background-color: #fff; /* Circle background color */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px; /* Adjust the margin as needed */
}

.header-profile-image {
  width: 100%; /* Fill the circle with the image */
  height: 100%; /* Maintain aspect ratio */
  border-radius: 50%; /* Ensure it's circular inside the circle */
}

.header-logout-link {
  color: #fff; /* Link text color */
  text-decoration: none;
  font-weight: bold;
}

.header-logout-link:hover {
  text-decoration: underline;
}


/* UPLOAD & LIBRARY */

.upload-div, .library-div{
  width: 100%;
}

@keyframes shake {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  20% {
    transform: translateX(-5px) rotate(-5deg);
  }
  40% {
    transform: translateX(5px) rotate(5deg);
  }
  60% {
    transform: translateX(-5px) rotate(-5deg);
  }
  80% {
    transform: translateX(5px) rotate(5deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}

.upload-image {
  transform-origin: center;
}

.upload-image:hover {
  animation: shake 1s ease infinite; /* Adjust duration and easing as needed */
}
.form-upload{
  padding-bottom: 40px;
}

.not-visible{
  visibility: hidden;
}

.photo-galery{
  display: flex;
  width: 60vw;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

.img-card{
  width: 200px;
  height: 150px;
  padding: 10px;
  margin: 15px 4px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px white solid;
  border-radius: 10px;
  transition: transform 0.3s;
}

.img-card:hover{
  transform: scale(1.05);
}

.img-card img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
} 

.custom-file-upload{
  box-sizing: border-box;
  cursor: pointer;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes scale-img-card{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.form-basic{
  display:flex;
  flex-direction:column;
  margin: 0 auto;
  width: 60vw;
}


